<!DOCTYPE html>
  <html ng-app="howWasIt">
    <head>
      <meta charset="utf-8"/>
      <title>HowWasIt</title>
      <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
      <link rel="stylesheet" type="text/css" href="styles/style.css"/>
      <script src="bower_components/jquery/jquery.min.js"></script>
      <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
      <script src="app/app.js"></script>
      <script src="app/friends/friends.js"></script>
    </head>

    <body class="container">
      <nav class=" navbar navbar-default">
      <div class="navbar-header">
        <div class="col-md-4" class="reviewBox" class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Add Review
            <span class="caret"></span>
          </button>
            <form class="dropdown-menu">
              Location: <input type="text" name="location"><br>
              Review: <input type="text" name="review"><br>
              <input type="submit" value="Submit">
            </form>

          <div class="col-md-4" class="page-title">HowWasIt</div>
          <div class="search-box">
            <form class="navbar-form navbar-left" role="search">
              <input type="text" class="form-control" placeholder="Search">
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
      </div>
      </nav>
      <div class="main">
        <div class="col-md-8 map">Map</div>
        <div class="col-md-4 sidebar">
          <div class="col-md-4 top-five">TopFive</div>

          <!-- Friends Module -->
          <div class="col-md-4 friends" ng-controller="FriendsController">
            <h3>Friends</h3>

            <!-- Friends Filter -->
            <div>
              <span>Search your friends</span>
              <form>
                <input type="text" name="friendsFilter" ng-model="friendsFilterForm">
              </form>
            </div>

            <!-- Member Search -->
            <div>
              <span>Find a user</span>
              <form>
                <input type="text" name="memberSearch" ng-model="memberSearchForm">
                <input type="submit" ng-click="searchMembers(memberSearchForm)">

                <ul class="search-members-results">
                  <li ng-repeat="member in searchMembersResults">
                    <div class="member-name">{{ member.first_name }} {{ member.last_name }}</div>
                    <div class="member-email">{{ member.email }}</div>
                    <button ng-click="addFriend(member)">Add Friend</button>
                  </li>
                </ul>

              </form>
            </div>
            
            <!-- Friends List -->
            <ul class="friends-list">
              <li ng-repeat="friend in userFriends | filter: friendsFilterForm" ng-click="mapUserComments(friend)">
                <div class="friend-name">{{ friend.first_name }} {{ friend.last_name }}</div>
                <div class="friend-email">{{ friend.email }}</div>
                <button ng-click="removeFriend(friend)">Remove Friend</button>
              </li>
            </ul>

          </div>


        </div>
      </div>
    </body>

  </html>



      


