<div class="main" ng-controller="HomeController">

  <!-- Map Module -->
  <div class="map" ng-controller="MapController"> 
    <!-- nav bar that is under MapController -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">HowWasIt</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Add Review <span class="caret"></span></a>

            <div class="dropdown-menu" ng-submit="reviewSubmit()">
                <form name="myForm">
                  <label>
                    Location: 
                     <input type="text" name="location" id = "search-box" required>
                  </label>

                  <label>
                     Review: <input type="text" name="review" ng-model="reviewText" class='review-text' required>
                  </label>
                  <button type='submit'>Submit</button>
                </form>
            </div>
          </li>

<!--           <li>Location: 
           <input type="text" name="location" id = "search-box" required>
         </li>

          <li ng-show="readyToReview">
               Review
          </li> -->
        </ul>

        <ul class ="nav navbar-nav navbar-right">
          <li>
            <a>Welcome, {{ loggedInUser }}!</a>
          </li>
          <li>
            <a class="logout" href ng-click="logout()">Log out</a>
          </li>
        </ul>

      </div>
    </nav>

  </div>
<div id="map-canvas" class="col-md-10"></div>


  <!-- Sidebar to hold friends and top five -->
<!--   <div class="col-md-4 sidebar"> -->

    <!-- TopFive Module -->
<!--     <div class="col-md-4 top-five" ng-controller="TopFiveController">TopFive</div> -->

    <!-- Friends Module -->
    <div class="col-md-2 friends" ng-controller="FriendsController">
      <!-- <h3>Friends</h3> -->

      <!-- Friends Filter -->
<!--       <div>
        <span>Search your friends</span>
        <form>
          <input type="text" name="friendsFilter" ng-model="friendsFilterForm">
        </form>
      </div> -->

      <!-- Member Search -->
      <div>
        <span>Find a user</span>
        <form>
          <input type="text" name="memberSearch" ng-model="memberSearchForm">
          <input type="submit" ng-click="searchMembers(memberSearchForm)">

          <ul class="search-members-results">
            <!-- <h4>Search Results</h4> -->
            <li ng-repeat="member in searchMembersResults">
              <div class="member-name">{{ member.first_name }}</div>
              <button ng-click="addFriend(member)">Add Friend</button>
            </li>
          </ul>
        </form>
      </div>
      
      <!-- Friends List -->
      <h3> My Friends</h3>
      <ul class="friends-list">
        <!-- <h4>Friends List</h4> -->
        <li class="friend-point"ng-repeat="friend in userFriends | filter: friendsFilterForm">
          <div class="friend-name" ng-click="addFriendReviews(friend)">{{ friend.first_name }}</div>
          <button ng-click="removeFriend(friend)">Remove Friend</button>
        </li>
      </ul>

    </div>
<!--   </div> -->
</div>