<div class="main" ng-controller="HomeController">
  <!-- Map Module -->
  <div class="col-md-8 map" ng-controller="MapController"> 
    <!-- nav bar that is under MapController -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">HowWasIt</a>
        </div>

        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Add Review <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <!-- bind google search to the dropdown menu -->
              <li>Location: <input type="text" name="location" id = 'search-box'></li>
              <li>Review: <input type="text" name="review"></li>
              <li><input type="submit" value="Submit"></li>
            </ul>
          </li>
        </ul>

      </div>
    </nav>
    <!-- where actual map is displayed -->
    <div id="map-canvas"></div>
  </div>

  <!-- Sidebar to hold friends and top five -->
  <div class="col-md-4 sidebar">

    <!-- TopFive Module -->
    <div class="col-md-4 top-five" ng-controller="TopFiveController">TopFive</div>

    <!-- Friends Module -->
    <div class="col-md-4 friends" ng-controller="FriendsController">
      <h3>Friends</h3>

      <!-- Friends Filter -->
      <div>
        <span>Search your friends</span>
        <form>
          <input type="text" name="friendsFilter" ng-model="friendsFilterForm">
        </form>
      </div>

      <!-- Member Search -->
      <div>
        <span>Find a user</span>
        <form>
          <input type="text" name="memberSearch" ng-model="memberSearchForm">
          <input type="submit" ng-click="searchMembers(memberSearchForm)">

          <ul class="search-members-results">
            <h4>Search Results</h4>
            <li ng-repeat="member in searchMembersResults">
              <div class="member-name">{{ member.first_name }} {{ member.last_name }}</div>
              <div class="member-email">{{ member.email }}</div>
              <button ng-click="addFriend(member)">Add Friend</button>
            </li>
          </ul>
        </form>
      </div>
      
      <!-- Friends List -->
      <ul class="friends-list">
        <h4>Friends List</h4>
        <li ng-repeat="friend in userFriends | filter: friendsFilterForm" ng-click="addFriendReviews(friend)">
          <div class="friend-name">{{ friend.first_name }} {{ friend.last_name }}</div>
          <div class="friend-email">{{ friend.email }}</div>
          <button ng-click="removeFriend(friend)">Remove Friend</button>
        </li>
      </ul>

    </div>
  </div>
</div>